.newspost {
  width: 500px;
  margin: 5px auto;
  padding: 20px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: rgb(243, 236, 236);
}

.newspost .head {
  display: flex;
}

.newspost .logo {
  width: 38px;
}

.newspost .logo>img {
  width: 100%;
  border-radius: 100px;
}

.newspost .authorANDimage {
  margin-left: 10px;
}

.newspost .author {
  font-weight: bold;
}

.newspost .time {
  font-weight: lighter;
  color: gray;
  font-size: small;
}

.newspost .data {
  margin: 10px 0px;
}

.newspost .image>img {
  width: 100%;
}